//
//  Sign-Release.xcconfig
//  FefeReader
//
//  Created by Olaf Neumann on 15.12.24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// https://ajpagente.github.io/mobile/using-xcconfig/

DEVELOPMENT_TEAM = NBA2M3HYSW
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER = 2d117a78-38d3-4de5-b92d-661132c8e97d
